body {
  background: url(../public/backMainLogin.jpg) center bottom no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif !important;
}

.containerMain {
  height: 100vh;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}
/* Logo responsive y proporcional */
.logo-container {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 100%;
  max-width: 366px;
}

.logo-palacio {
  width: 100%;
  max-width: 366px; /* ajusta según tu diseño */
  height: auto;
  object-fit: contain;
}

/* Puedes hacerla más grande en pantallas grandes */
@media (min-width: 992px) {
  .logo-palacio {
    max-width: 350px;
  }
}

.formContainer {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
button {
  width: 50%;
  display: flex;
  justify-self: center;
  text-align: center;
  justify-content: center;
  border: solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  font-weight: 700;
}
.message {
  color: #eec443;
}
#devtools-indicator {
  display: none !important;
}
